.cache
build
node_modules
.env
.env.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
README.md
.eslintcache
.vscode
.idea
*.log
coverage
.nyc_output
.DS_Store
*.tgz
*.tar.gz
dist
tmp
temp
.cache
build/public/build
build/server/build
